# Ignore node_modules and dependencies
node_modules
*.log

# Ignore build artifacts
dist
build
*.o
*.out

# Ignore environment files
.env
.env.*

# Ignore version control files
.git
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore temporary files
*.tmp
*.swp
*.bak
*.~*

# Ignore IDE and editor files
.vscode
.idea
*.iml